# Machine Learning Diabetes Classification

## Read csv and perform basic data cleaning

In [1]:
# Install zipfile36 if you haven't already
# !pip install zipfile36

In [2]:
# Import our dependencies
import pandas as pd
import numpy as np
from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen

# SQL
from sqlalchemy import create_engine
import sqlite3 as sql

# Machine learning
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
import os
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint

In [4]:
# Create dataframe
z = urlopen('https://archive.ics.uci.edu/ml/machine-learning-databases/00296/dataset_diabetes.zip')
myzip = ZipFile(BytesIO(z.read())).extract('dataset_diabetes/diabetic_data.csv')
df = pd.read_csv(myzip)
df.head(5)
target = ['A1Cresult']

In [5]:
# Drop the non-beneficial ID columns, 'encounter_id' and 'patient_nbr'
df = df.drop(['patient_nbr'],1)

# Drop mostly empty columns, 'weight', 'payer_code', 'max_glu_serum', and 'medical_specialty'
df = df.drop(['weight', 'payer_code', 'max_glu_serum', 'medical_specialty', ],1)

# Replace '?' values to nulls
df.replace({'?': np.nan}, inplace=True)

# Replace 'None' values to nulls
df.replace({'None': np.nan}, inplace=True)

# Drop the null rows
df = df.dropna()

/var/folders/xg/sj5cjcj55mdf6d5492q3c5m00000gn/T/ipykernel_2039/4207756282.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop(['patient_nbr'],1)
/var/folders/xg/sj5cjcj55mdf6d5492q3c5m00000gn/T/ipykernel_2039/4207756282.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop(['weight', 'payer_code', 'max_glu_serum', 'medical_specialty', ],1)

In [6]:
# Convert the target column values to normal and high based on their values
x = {'Norm': 'normal'}   
df = df.replace(x)
x = dict.fromkeys(['>7', '>8'], 'high')    
df = df.replace(x)
df.reset_index(inplace=True, drop=True)

In [7]:
# Determine the number of unique values in each column.
df.nunique()

encounter_id                16193
race                            5
gender                          2
age                            10
admission_type_id               8
discharge_disposition_id       21
admission_source_id            15
time_in_hospital               14
num_lab_procedures            114
num_procedures                  7
num_medications                67
number_outpatient              24
number_emergency               19
number_inpatient               18
diag_1                        490
diag_2                        486
diag_3                        539
number_diagnoses               12
A1Cresult                       2
metformin                       4
repaglinide                     4
nateglinide                     4
chlorpropamide                  2
glimepiride                     4
acetohexamide                   1
glipizide                       4
glyburide                       4
tolbutamide                     2
pioglitazone                    4
rosiglitazone                   4
acarbose                        4
miglitol                        4
troglitazone                    1
tolazamide                      3
examide                         1
citoglipton                     1
insulin                         4
glyburide-metformin             4
glipizide-metformin             2
glimepiride-pioglitazone        1
metformin-rosiglitazone         1
metformin-pioglitazone          1
change                          2
diabetesMed                     2
readmitted                      3
dtype: int64

In [8]:
# Drop columns with only 1 value
df = df.drop(['acetohexamide', 'troglitazone', 'examide', 'citoglipton','glimepiride-pioglitazone', 'metformin-rosiglitazone', 'metformin-pioglitazone'],1)
df.nunique()

/var/folders/xg/sj5cjcj55mdf6d5492q3c5m00000gn/T/ipykernel_2039/190791345.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop(['acetohexamide', 'troglitazone', 'examide', 'citoglipton','glimepiride-pioglitazone', 'metformin-rosiglitazone', 'metformin-pioglitazone'],1)

encounter_id                16193
race                            5
gender                          2
age                            10
admission_type_id               8
discharge_disposition_id       21
admission_source_id            15
time_in_hospital               14
num_lab_procedures            114
num_procedures                  7
num_medications                67
number_outpatient              24
number_emergency               19
number_inpatient               18
diag_1                        490
diag_2                        486
diag_3                        539
number_diagnoses               12
A1Cresult                       2
metformin                       4
repaglinide                     4
nateglinide                     4
chlorpropamide                  2
glimepiride                     4
glipizide                       4
glyburide                       4
tolbutamide                     2
pioglitazone                    4
rosiglitazone                   4
acarbose                        4
miglitol                        4
tolazamide                      3
insulin                         4
glyburide-metformin             4
glipizide-metformin             2
change                          2
diabetesMed                     2
readmitted                      3
dtype: int64

In [9]:
# Drop variables with outliers 
df = df.drop(['number_inpatient', 'number_outpatient','number_emergency'],1)
df.nunique()

/var/folders/xg/sj5cjcj55mdf6d5492q3c5m00000gn/T/ipykernel_2039/3814313382.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop(['number_inpatient', 'number_outpatient','number_emergency'],1)

encounter_id                16193
race                            5
gender                          2
age                            10
admission_type_id               8
discharge_disposition_id       21
admission_source_id            15
time_in_hospital               14
num_lab_procedures            114
num_procedures                  7
num_medications                67
diag_1                        490
diag_2                        486
diag_3                        539
number_diagnoses               12
A1Cresult                       2
metformin                       4
repaglinide                     4
nateglinide                     4
chlorpropamide                  2
glimepiride                     4
glipizide                       4
glyburide                       4
tolbutamide                     2
pioglitazone                    4
rosiglitazone                   4
acarbose                        4
miglitol                        4
tolazamide                      3
insulin                         4
glyburide-metformin             4
glipizide-metformin             2
change                          2
diabetesMed                     2
readmitted                      3
dtype: int64

In [10]:
# Info on the data frame data types, non_null, etc. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16193 entries, 0 to 16192
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              16193 non-null  int64
 1   race                      16193 non-null  object
 2   gender                    16193 non-null  object
 3   age                       16193 non-null  object
 4   admission_type_id         16193 non-null  int64
 5   discharge_disposition_id  16193 non-null  int64
 6   admission_source_id       16193 non-null  int64
 7   time_in_hospital          16193 non-null  int64
 8   num_lab_procedures        16193 non-null  int64
 9   num_procedures            16193 non-null  int64
 10  num_medications           16193 non-null  int64
 11  diag_1                    16193 non-null  object
 12  diag_2                    16193 non-null  object
 13  diag_3                    16193 non-null  object
 14  number_diagnoses          16193 non-null  int64
 15  A1Cresult                 16193 non-null  object
 16  metformin                 16193 non-null  object
 17  repaglinide               16193 non-null  object
 18  nateglinide               16193 non-null  object
 19  chlorpropamide            16193 non-null  object
 20  glimepiride               16193 non-null  object
 21  glipizide                 16193 non-null  object
 22  glyburide                 16193 non-null  object
 23  tolbutamide               16193 non-null  object
 24  pioglitazone              16193 non-null  object
 25  rosiglitazone             16193 non-null  object
 26  acarbose                  16193 non-null  object
 27  miglitol                  16193 non-null  object
 28  tolazamide                16193 non-null  object
 29  insulin                   16193 non-null  object
 30  glyburide-metformin       16193 non-null  object
 31  glipizide-metformin       16193 non-null  object
 32  change                    16193 non-null  object
 33  diabetesMed               16193 non-null  object
 34  readmitted                16193 non-null  object
dtypes: int64(9), object(26)
memory usage: 4.3+ MB

In [11]:
# Looking at dataframe 
df.head()

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,rosiglitazone,acarbose,miglitol,tolazamide,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted
0,236316,Caucasian,Male,[80-90),1,3,7,6,64,3,...,No,No,No,No,No,No,No,Ch,Yes,NO
1,955884,Caucasian,Female,[70-80),1,3,7,5,34,0,...,No,No,No,No,Up,No,No,Ch,Yes,>30
2,1257282,Other,Female,[50-60),1,1,7,2,53,0,...,No,No,No,No,Up,No,No,Ch,Yes,NO
3,1270524,Caucasian,Male,[60-70),1,2,7,1,59,0,...,No,No,No,No,Steady,No,No,No,Yes,NO
4,1455252,Caucasian,Female,[80-90),1,1,7,3,34,0,...,No,No,No,No,No,No,No,No,No,>30

In [12]:
# Generate our categorical variable list
df_cat = df.dtypes[df.dtypes == "object"].index.tolist()
df_cat

['race',
 'gender',
 'age',
 'diag_1',
 'diag_2',
 'diag_3',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'tolazamide',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'change',
 'diabetesMed',
 'readmitted']

In [13]:
# Check the number of unique values in each column
df[df_cat].nunique()

race                     5
gender                   2
age                     10
diag_1                 490
diag_2                 486
diag_3                 539
A1Cresult                2
metformin                4
repaglinide              4
nateglinide              4
chlorpropamide           2
glimepiride              4
glipizide                4
glyburide                4
tolbutamide              2
pioglitazone             4
rosiglitazone            4
acarbose                 4
miglitol                 4
tolazamide               3
insulin                  4
glyburide-metformin      4
glipizide-metformin      2
change                   2
diabetesMed              2
readmitted               3
dtype: int64

In [14]:
# Create SQLite engine using SQLAlechmey
engine = create_engine('sqlite:///diabetes_data.db', echo=False)
conn = engine.connect()
df.to_sql('diabetes', conn, index=False, if_exists='replace')

In [15]:
# Check dataset
pd.read_sql('SELECT * FROM diabetes LIMIT 10', conn)

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,rosiglitazone,acarbose,miglitol,tolazamide,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted
0,236316,Caucasian,Male,[80-90),1,3,7,6,64,3,...,No,No,No,No,No,No,No,Ch,Yes,NO
1,955884,Caucasian,Female,[70-80),1,3,7,5,34,0,...,No,No,No,No,Up,No,No,Ch,Yes,>30
2,1257282,Other,Female,[50-60),1,1,7,2,53,0,...,No,No,No,No,Up,No,No,Ch,Yes,NO
3,1270524,Caucasian,Male,[60-70),1,2,7,1,59,0,...,No,No,No,No,Steady,No,No,No,Yes,NO
4,1455252,Caucasian,Female,[80-90),1,1,7,3,34,0,...,No,No,No,No,No,No,No,No,No,>30
5,1810752,Caucasian,Male,[70-80),1,3,7,14,78,1,...,No,No,No,No,Up,No,No,Ch,Yes,<30
6,1881372,Caucasian,Male,[60-70),1,2,7,4,65,2,...,No,No,No,No,Steady,No,No,No,Yes,<30
7,1968528,Caucasian,Female,[70-80),6,25,1,10,56,2,...,No,No,No,No,Down,No,No,Ch,Yes,>30
8,2092362,Caucasian,Female,[70-80),6,25,7,11,88,1,...,No,No,No,No,Down,No,No,Ch,Yes,>30
9,2095932,AfricanAmerican,Female,[30-40),6,25,7,8,62,0,...,No,No,No,No,Steady,No,No,Ch,Yes,>30

In [16]:
# Create cleanup table
engine.execute('CREATE TABLE "cleaned_columns" ('
               'id BIGINT NOT NULL,'
               'diag_1c VARCHAR, '
               'diag_2c VARCHAR, '
               'diag_3c VARCHAR, '
               'PRIMARY KEY (id));')

In [17]:
# Insert columns into new table to clean
engine.execute('INSERT INTO "cleaned_columns" '
               'SELECT encounter_id AS id, '
               'CASE '
                   'WHEN (diag_1 BETWEEN 390 AND 459) OR (diag_1 = 785) THEN "circulatory" '
                   'WHEN (diag_1 BETWEEN 460 AND 519) OR (diag_1 = 786) THEN "respiratory" '
                   'WHEN (diag_1 BETWEEN 520 AND 579) OR (diag_1 = 787) THEN "digestive" '
                   'WHEN (diag_1 BETWEEN 250 AND 251) THEN "diabetes" '
                   'WHEN (diag_1 BETWEEN 800 AND 999) THEN "injury" '
                   'WHEN (diag_1 BETWEEN 710 AND 739) THEN "musculoskeletal" '
                   'WHEN (diag_1 BETWEEN 580 AND 629) OR (diag_1 = 788) THEN "genitourinary" '
                   'WHEN (diag_1 BETWEEN 140 AND 239) THEN "neoplasms" '
                   'ELSE "other" '
               'END AS diag_1c, '
               'CASE '
                   'WHEN (diag_2 BETWEEN 390 AND 459) OR (diag_2 = 785) THEN "circulatory" '
                   'WHEN (diag_2 BETWEEN 460 AND 519) OR (diag_2 = 786) THEN "respiratory" '
                   'WHEN (diag_2 BETWEEN 520 AND 579) OR (diag_2 = 787) THEN "digestive" '
                   'WHEN (diag_2 BETWEEN 250 AND 251) THEN "diabetes" '
                   'WHEN (diag_2 BETWEEN 800 AND 999) THEN "injury" '
                   'WHEN (diag_2 BETWEEN 710 AND 739) THEN "musculoskeletal" '
                   'WHEN (diag_2 BETWEEN 580 AND 629) OR (diag_2 = 788) THEN "genitourinary" '
                   'WHEN (diag_2 BETWEEN 140 AND 239) THEN "neoplasms" '
                   'ELSE "other" '
               'END AS diag_2c, '
               'CASE '
                   'WHEN (diag_3 BETWEEN 390 AND 459) OR (diag_3 = 785) THEN "circulatory" '
                   'WHEN (diag_3 BETWEEN 460 AND 519) OR (diag_3 = 786) THEN "respiratory" '
                   'WHEN (diag_3 BETWEEN 520 AND 579) OR (diag_3 = 787) THEN "digestive" '
                   'WHEN (diag_3 BETWEEN 250 AND 251) THEN "diabetes" '
                   'WHEN (diag_3 BETWEEN 800 AND 999) THEN "injury" '
                   'WHEN (diag_3 BETWEEN 710 AND 739) THEN "musculoskeletal" '
                   'WHEN (diag_3 BETWEEN 580 AND 629) OR (diag_3 = 788) THEN "genitourinary" '
                   'WHEN (diag_3 BETWEEN 140 AND 239) THEN "neoplasms" '
                   'ELSE "other" '
               'END AS diag_3c '
               'FROM diabetes;')

In [18]:
# Check data
pd.read_sql('SELECT * FROM cleaned_columns LIMIT 10', conn)

        id        diag_1c      diag_2c        diag_3c
0   236316    circulatory  circulatory    circulatory
1   955884    circulatory  circulatory          other
2  1257282  genitourinary     diabetes    circulatory
3  1270524    circulatory  circulatory    respiratory
4  1455252    circulatory  circulatory    circulatory
5  1810752    circulatory     diabetes       diabetes
6  1881372    circulatory  circulatory    respiratory
7  1968528    circulatory  circulatory       diabetes
8  2092362       diabetes        other  genitourinary
9  2095932       diabetes  circulatory          other

In [19]:
# Join diabetes and cleaned_columns tables
diabetes_df = pd.read_sql('SELECT * FROM diabetes JOIN cleaned_columns ON diabetes.encounter_id = cleaned_columns.id', conn)
diabetes_df

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted,id,diag_1c,diag_2c,diag_3c
0,236316,Caucasian,Male,[80-90),1,3,7,6,64,3,...,No,No,No,Ch,Yes,NO,236316,circulatory,circulatory,circulatory
1,955884,Caucasian,Female,[70-80),1,3,7,5,34,0,...,Up,No,No,Ch,Yes,>30,955884,circulatory,circulatory,other
2,1257282,Other,Female,[50-60),1,1,7,2,53,0,...,Up,No,No,Ch,Yes,NO,1257282,genitourinary,diabetes,circulatory
3,1270524,Caucasian,Male,[60-70),1,2,7,1,59,0,...,Steady,No,No,No,Yes,NO,1270524,circulatory,circulatory,respiratory
4,1455252,Caucasian,Female,[80-90),1,1,7,3,34,0,...,No,No,No,No,No,>30,1455252,circulatory,circulatory,circulatory
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16188,443816024,Caucasian,Female,[70-80),3,6,1,3,27,1,...,Steady,No,No,Ch,Yes,NO,443816024,musculoskeletal,circulatory,diabetes
16189,443835140,Caucasian,Male,[70-80),3,6,1,13,77,6,...,Up,No,No,Ch,Yes,NO,443835140,circulatory,circulatory,respiratory
16190,443842016,Caucasian,Female,[70-80),1,1,7,9,50,2,...,Steady,No,No,Ch,Yes,>30,443842016,digestive,digestive,diabetes
16191,443842022,Other,Female,[40-50),1,1,7,14,73,6,...,Up,No,No,Ch,Yes,>30,443842022,genitourinary,genitourinary,respiratory
16192,443847548,AfricanAmerican,Male,[70-80),1,3,7,3,51,0,...,Down,No,No,Ch,Yes,>30,443847548,diabetes,other,circulatory

In [20]:
# Check Datatypes
diabetes_df.dtypes

encounter_id                 int64
race                        object
gender                      object
age                         object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
tolazamide                  object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
change                      object
diabetesMed                 object
readmitted                  object
id                           int64
diag_1c                     object
diag_2c                     object
diag_3c                     object
dtype: object

In [21]:
# View DataFrame
diabetes_df

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted,id,diag_1c,diag_2c,diag_3c
0,236316,Caucasian,Male,[80-90),1,3,7,6,64,3,...,No,No,No,Ch,Yes,NO,236316,circulatory,circulatory,circulatory
1,955884,Caucasian,Female,[70-80),1,3,7,5,34,0,...,Up,No,No,Ch,Yes,>30,955884,circulatory,circulatory,other
2,1257282,Other,Female,[50-60),1,1,7,2,53,0,...,Up,No,No,Ch,Yes,NO,1257282,genitourinary,diabetes,circulatory
3,1270524,Caucasian,Male,[60-70),1,2,7,1,59,0,...,Steady,No,No,No,Yes,NO,1270524,circulatory,circulatory,respiratory
4,1455252,Caucasian,Female,[80-90),1,1,7,3,34,0,...,No,No,No,No,No,>30,1455252,circulatory,circulatory,circulatory
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16188,443816024,Caucasian,Female,[70-80),3,6,1,3,27,1,...,Steady,No,No,Ch,Yes,NO,443816024,musculoskeletal,circulatory,diabetes
16189,443835140,Caucasian,Male,[70-80),3,6,1,13,77,6,...,Up,No,No,Ch,Yes,NO,443835140,circulatory,circulatory,respiratory
16190,443842016,Caucasian,Female,[70-80),1,1,7,9,50,2,...,Steady,No,No,Ch,Yes,>30,443842016,digestive,digestive,diabetes
16191,443842022,Other,Female,[40-50),1,1,7,14,73,6,...,Up,No,No,Ch,Yes,>30,443842022,genitourinary,genitourinary,respiratory
16192,443847548,AfricanAmerican,Male,[70-80),1,3,7,3,51,0,...,Down,No,No,Ch,Yes,>30,443847548,diabetes,other,circulatory

In [22]:
# Generate our categorical variable list
diabetes_df_cat = diabetes_df.dtypes[diabetes_df.dtypes == "object"].index.tolist()
diabetes_df_cat

['race',
 'gender',
 'age',
 'diag_1',
 'diag_2',
 'diag_3',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'tolazamide',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'change',
 'diabetesMed',
 'readmitted',
 'diag_1c',
 'diag_2c',
 'diag_3c']

In [23]:
# Drop the non-beneficial ID and diag columns, 'encounter_id', 'id', 'diag_1', 'diag_2', and 'diag_3'
diabetes_2_df = diabetes_df.drop(['encounter_id', 'id', 'diag_1', 'diag_2', 'diag_3'],1)

/var/folders/xg/sj5cjcj55mdf6d5492q3c5m00000gn/T/ipykernel_2039/2165655525.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  diabetes_2_df = diabetes_df.drop(['encounter_id', 'id', 'diag_1', 'diag_2', 'diag_3'],1)

In [24]:
diabetes_2_df

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted,diag_1c,diag_2c,diag_3c
0,Caucasian,Male,[80-90),1,3,7,6,64,3,18,...,No,No,No,No,Ch,Yes,NO,circulatory,circulatory,circulatory
1,Caucasian,Female,[70-80),1,3,7,5,34,0,17,...,No,Up,No,No,Ch,Yes,>30,circulatory,circulatory,other
2,Other,Female,[50-60),1,1,7,2,53,0,6,...,No,Up,No,No,Ch,Yes,NO,genitourinary,diabetes,circulatory
3,Caucasian,Male,[60-70),1,2,7,1,59,0,12,...,No,Steady,No,No,No,Yes,NO,circulatory,circulatory,respiratory
4,Caucasian,Female,[80-90),1,1,7,3,34,0,11,...,No,No,No,No,No,No,>30,circulatory,circulatory,circulatory
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16188,Caucasian,Female,[70-80),3,6,1,3,27,1,29,...,No,Steady,No,No,Ch,Yes,NO,musculoskeletal,circulatory,diabetes
16189,Caucasian,Male,[70-80),3,6,1,13,77,6,65,...,No,Up,No,No,Ch,Yes,NO,circulatory,circulatory,respiratory
16190,Caucasian,Female,[70-80),1,1,7,9,50,2,33,...,No,Steady,No,No,Ch,Yes,>30,digestive,digestive,diabetes
16191,Other,Female,[40-50),1,1,7,14,73,6,26,...,No,Up,No,No,Ch,Yes,>30,genitourinary,genitourinary,respiratory
16192,AfricanAmerican,Male,[70-80),1,3,7,3,51,0,16,...,No,Down,No,No,Ch,Yes,>30,diabetes,other,circulatory

In [25]:
# Check data
diabetes_2_df.dtypes

race                        object
gender                      object
age                         object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_diagnoses             int64
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
tolazamide                  object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
change                      object
diabetesMed                 object
readmitted                  object
diag_1c                     object
diag_2c                     object
diag_3c                     object
dtype: object

In [26]:
# Generate our categorical variable list
diabetes_2_df_cat = diabetes_2_df.dtypes[diabetes_2_df.dtypes == "object"].index.tolist()
diabetes_2_df_cat

['race',
 'gender',
 'age',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'tolazamide',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'change',
 'diabetesMed',
 'readmitted',
 'diag_1c',
 'diag_2c',
 'diag_3c']

In [27]:
# OneHot encode the categorical data
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(diabetes_2_df[diabetes_2_df_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names_out(diabetes_2_df_cat)
encode_df.head()

,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other,gender_Female,gender_Male,age_[0-10),age_[10-20),age_[20-30),...,diag_2c_respiratory,diag_3c_circulatory,diag_3c_diabetes,diag_3c_digestive,diag_3c_genitourinary,diag_3c_injury,diag_3c_musculoskeletal,diag_3c_neoplasms,diag_3c_other,diag_3c_respiratory
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
# Merge one-hot encoded features and drop the originals
diabetes_2_df = diabetes_2_df.merge(encode_df,left_index=True, right_index=True)
diabetes_2_df = diabetes_2_df.drop(diabetes_2_df_cat,1)
diabetes_2_df.head()

/var/folders/xg/sj5cjcj55mdf6d5492q3c5m00000gn/T/ipykernel_2039/47016200.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  diabetes_2_df = diabetes_2_df.drop(diabetes_2_df_cat,1)

,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_diagnoses,race_AfricanAmerican,race_Asian,...,diag_2c_respiratory,diag_3c_circulatory,diag_3c_diabetes,diag_3c_digestive,diag_3c_genitourinary,diag_3c_injury,diag_3c_musculoskeletal,diag_3c_neoplasms,diag_3c_other,diag_3c_respiratory
0,1,3,7,6,64,3,18,7,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,3,7,5,34,0,17,7,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,1,7,2,53,0,6,3,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,2,7,1,59,0,12,7,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,1,7,3,34,0,11,8,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# Remove target from features data
y = diabetes_2_df['A1Cresult_high']
X = diabetes_2_df.drop(columns=["A1Cresult_high","A1Cresult_normal"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [30]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.707

In [31]:
# Create new dataframe with top only 8 features
top_8_df = diabetes_2_df[['num_lab_procedures','num_medications','time_in_hospital','num_procedures','number_diagnoses','discharge_disposition_id','admission_type_id','admission_source_id']] 
top_8_df.head(20)

,num_lab_procedures,num_medications,time_in_hospital,num_procedures,number_diagnoses,discharge_disposition_id,admission_type_id,admission_source_id
0,64,18,6,3,7,3,1,7
1,34,17,5,0,7,3,1,7
2,53,6,2,0,3,1,1,7
3,59,12,1,0,7,2,1,7
4,34,11,3,0,8,1,1,7
5,78,19,14,1,8,3,1,7
6,65,19,4,2,7,2,1,7
7,56,24,10,2,9,25,6,1
8,88,16,11,1,9,25,6,7
9,62,21,8,0,9,25,6,7
10,34,19,7,1,4,25,6,7
11,72,22,7,0,9,25,6,7
12,60,15,10,0,9,25,6,7
13,43,20,7,5,6,25,6,4
14,18,27,3,3,6,25,6,7
15,54,15,5,1,8,25,6,1
16,47,6,5,1,5,3,6,7
17,70,13,7,0,9,25,6,7
18,58,3,13,0,6,25,6,1
19,45,7,4,0,4,25,6,7

In [32]:
# Remove target from features data
y = diabetes_2_df['A1Cresult_high']
X = top_8_df

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.661

In [34]:
# Trying PCA on original data with 95% variance
pca = PCA(n_components = 0.95)
pca.fit(diabetes_2_df)
reduced = pca.transform(diabetes_2_df)

In [35]:
# Call into dataframe 
transform_pca = pd.DataFrame(reduced)
transform_pca

               0          1         2         3         4
0       9.572246  -0.558393 -0.547942  0.682432  0.757815
1     -19.961935   4.699503 -0.728852  1.933973  1.141393
2      -4.139627 -10.890984 -1.705775  0.564171 -0.603588
3       2.993975  -6.358675 -1.311252  1.211684 -2.899928
4     -21.394304  -1.462835 -2.242847  1.836474  0.363659
...          ...        ...       ...       ...       ...
16188 -24.488951  18.129370  1.134875 -2.220189 -3.793193
16189  32.820330  43.780869 -1.345880 -2.921411 -2.064557
16190  -0.636428  17.126420 -3.888855  1.749095  1.904950
16191  20.720911   6.619875 -2.777139 -0.446661  7.031781
16192  -3.736518  -0.241136 -0.638826  1.641550 -1.311660

[16193 rows x 5 columns]

In [36]:
# Trying PCA on original data with 99% variance
pca = PCA(n_components = 0.99)
pca.fit(diabetes_2_df)
reduced_2 = pca.transform(diabetes_2_df)

In [37]:
# Call into dataframe 
pd.DataFrame(reduced_2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,9.572246,-0.558393,-0.547942,0.682432,0.757815,-0.872143,1.066559,-1.373482,-0.613279,-0.771447,0.166179,1.808657,-0.696128,-0.290813,0.139251,0.284583,0.074012
1,-19.961935,4.699503,-0.728852,1.933973,1.141393,0.097490,-1.634172,-0.336566,-0.510335,0.677065,-1.064613,0.161341,-0.072877,0.102641,-0.324577,-0.919340,1.130830
2,-4.139627,-10.890984,-1.705775,0.564171,-0.603588,-3.390295,-1.421705,-1.179877,-0.756079,0.648961,0.095003,0.104965,-0.393104,0.356378,0.417169,-0.916143,-0.719730
3,2.993975,-6.358675,-1.311252,1.211684,-2.899928,0.145125,-0.690519,-0.748218,0.719178,-0.923494,0.461505,0.496734,0.636635,1.253902,-0.571963,-0.027103,0.538903
4,-21.394304,-1.462835,-2.242847,1.836474,0.363659,1.350683,-0.422874,-0.294457,1.808951,0.596643,-0.825768,1.027890,0.528830,-0.004062,-0.067388,-0.555597,-0.037362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16188,-24.488951,18.129370,1.134875,-2.220189,-3.793193,0.943666,-0.905632,1.424822,-0.173442,0.641535,1.148047,0.975161,0.534606,0.252637,-0.427057,0.521642,0.401607
16189,32.820330,43.780869,-1.345880,-2.921411,-2.064557,4.623400,1.382733,1.223022,0.783380,-0.831292,0.951238,0.027477,0.339286,0.076690,0.349504,-0.484634,0.529494
16190,-0.636428,17.126420,-3.888855,1.749095,1.904950,0.675228,-1.257687,-0.487754,-0.186157,0.699669,-0.793051,-0.274232,-0.134696,0.342275,-0.632835,0.169929,0.003966
16191,20.720911,6.619875,-2.777139,-0.446661,7.031781,0.023051,2.949043,-1.480756,-0.923355,1.071970,-0.695601,-0.455375,0.026181,-0.400304,0.363831,-0.166115,-0.237620
16192,-3.736518,-0.241136,-0.638826,1.641550,-1.311660,1.833133,-1.022664,-0.201848,-1.254422,-0.406061,-0.559944,-0.180755,0.408641,-0.413653,1.140789,0.536852,-0.915944

In [38]:
# Running Random Forest with the top 5 components from PCA
# Remove target from features data
y = diabetes_2_df['A1Cresult_high']
X = transform_pca
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [39]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.666

In [40]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = len(X_train_scaled[0])*3
hidden_nodes_layer2 = len(X_train_scaled[0])*2
hidden_nodes_layer3 = len(X_train_scaled[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 15)                90

 dense_1 (Dense)             (None, 10)                160

 dense_2 (Dense)             (None, 10)                110

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 371
Trainable params: 371
Non-trainable params: 0
_________________________________________________________________

2022-02-10 22:09:16.625090: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [41]:
# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [42]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=5)

In [43]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
380/380 [==============================] - 3s 4ms/step - loss: 0.6293 - accuracy: 0.6825
Epoch 2/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6118 - accuracy: 0.7003
Epoch 3/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6102 - accuracy: 0.7003
Epoch 4/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6094 - accuracy: 0.7003
Epoch 5/50
380/380 [==============================] - 1s 4ms/step - loss: 0.6093 - accuracy: 0.7003
Epoch 6/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6092 - accuracy: 0.7003
Epoch 7/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6089 - accuracy: 0.7003
Epoch 8/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6086 - accuracy: 0.7003
Epoch 9/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6087 - accuracy: 0.7003
Epoch 10/50
380/380 [==============================] - 1s 4ms/step - loss: 0.6085 - accuracy: 0.7003
Epoch 11/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6082 - accuracy: 0.7003
Epoch 12/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6080 - accuracy: 0.7003
Epoch 13/50
380/380 [==============================] - 1s 4ms/step - loss: 0.6080 - accuracy: 0.7003
Epoch 14/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6078 - accuracy: 0.7003
Epoch 15/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6078 - accuracy: 0.7003
Epoch 16/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6074 - accuracy: 0.7003
Epoch 17/50
380/380 [==============================] - 1s 4ms/step - loss: 0.6074 - accuracy: 0.7003
Epoch 18/50
380/380 [==============================] - 1s 4ms/step - loss: 0.6072 - accuracy: 0.7003
Epoch 19/50
380/380 [==============================] - 1s 4ms/step - loss: 0.6074 - accuracy: 0.7003
Epoch 20/50
380/380 [==============================] - 1s 4ms/step - loss: 0.6070 - accuracy: 0.7003
Epoch 21/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6070 - accuracy: 0.7003
Epoch 22/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6069 - accuracy: 0.7003
Epoch 23/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6067 - accuracy: 0.7003
Epoch 24/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6069 - accuracy: 0.7003
Epoch 25/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6068 - accuracy: 0.7003
Epoch 26/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6063 - accuracy: 0.7003
Epoch 27/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6062 - accuracy: 0.7003
Epoch 28/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6060 - accuracy: 0.7003
Epoch 29/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6063 - accuracy: 0.7003
Epoch 30/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6061 - accuracy: 0.7003
Epoch 31/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6061 - accuracy: 0.7003
Epoch 32/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6057 - accuracy: 0.7003
Epoch 33/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6059 - accuracy: 0.7003
Epoch 34/50
380/380 [==============================] - 1s 4ms/step - loss: 0.6055 - accuracy: 0.7002
Epoch 35/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6056 - accuracy: 0.7003
Epoch 36/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6054 - accuracy: 0.7003
Epoch 37/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6056 - accuracy: 0.7002
Epoch 38/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6051 - accuracy: 0.7003
Epoch 39/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6049 - accuracy: 0.7002
Epoch 40/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6049 - accuracy: 0.7002
Epoch 41/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6048 - accuracy: 0.7003
Epoch 42/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6052 - accuracy: 0.7002
Epoch 43/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6045 - accuracy: 0.7003
Epoch 44/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6049 - accuracy: 0.7002
Epoch 45/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6045 - accuracy: 0.7002
Epoch 46/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6049 - accuracy: 0.7003
Epoch 47/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6044 - accuracy: 0.7002
Epoch 48/50
380/380 [==============================] - 2s 5ms/step - loss: 0.6047 - accuracy: 0.7003
Epoch 49/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6044 - accuracy: 0.7003
Epoch 50/50
380/380 [==============================] - 2s 4ms/step - loss: 0.6043 - accuracy: 0.7003

In [44]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

127/127 - 1s - loss: 0.6112 - accuracy: 0.7002 - 723ms/epoch - 6ms/step
Loss: 0.6111955642700195, Accuracy: 0.7001729011535645

In [45]:
# Export our model to HDF5 file
nn.save("ML_Diabetes.h5")